# Basics- Selecting data using locations and indices

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/Banda Arc.csv")  #could add: , index_col = 'xxx'

#pd.set_option('display.max_rows', df.shape[0])
#pd.set_option('display.max_columns', df.shape[1])

print(df.columns.tolist())

df

['CITATIONS', 'TECTONIC SETTING', 'LOCATION', 'LOCATION COMMENT', 'LATITUDE MIN', 'LATITUDE MAX', 'LONGITUDE MIN', 'LONGITUDE MAX', 'LAND OR SEA', 'ELEVATION MIN', 'ELEVATION MAX', 'SAMPLE NAME', 'ROCK NAME', 'MIN. AGE (YRS.)', 'MAX. AGE (YRS.)', 'GEOL.', 'AGE', 'ERUPTION DAY', 'ERUPTION MONTH', 'ERUPTION YEAR', 'ROCK TEXTURE', 'ROCK TYPE', 'DRILL DEPTH MIN', 'DRILL DEPTHAX', 'ALTERATION', 'MINERAL', 'MATERIAL', 'SIO2(WT%)', 'TIO2(WT%)', 'B2O3(WT%)', 'AL2O3(WT%)', 'CR2O3(WT%)', 'FE2O3(WT%)', 'FEO(WT%)', 'FEOT(WT%)', 'CAO(WT%)', 'MGO(WT%)', 'MNO(WT%)', 'NIO(WT%)', 'K2O(WT%)', 'NA2O(WT%)', 'P2O5(WT%)', 'H2O(WT%)', 'H2OP(WT%)', 'H2OM(WT%)', 'H2OT(WT%)', 'CO2(WT%)', 'CO1(WT%)', 'F(WT%)', 'CL(WT%)', 'CL2(WT%)', 'OH(WT%)', 'CH4(WT%)', 'SO2(WT%)', 'SO3(WT%)', 'SO4(WT%)', 'S(WT%)', 'LOI(WT%)', 'VOLATILES(WT%)', 'O(WT%)', 'OTHERS(WT%)', 'HE(CCM/G)', 'HE(CCMSTP/G)', 'HE3(CCMSTP/G)', 'HE3(AT/G)', 'HE4(CCM/G)', 'HE4(CCMSTP/G)', 'HE4(AT/G)', 'HE4(MOLE/G)', 'HE4(NCC/G)', 'HE(NCC/G)', 'LI(PPM)', 'BE(PPM)', 'B(PPM)', 'C(PPM)', 'CO2(PPM)', 'F(PPM)', 'NA(PPM)', 'MG(PPM)', 'AL(PPM)', 'P(PPM)', 'S(PPM)', 'CL(PPM)', 'K(PPM)', 'CA(PPM)', 'SC(PPM)', 'TI(PPM)', 'V(PPM)', 'CR(PPM)', 'MN(PPM)', 'FE(PPM)', 'CO(PPM)', 'NI(PPM)', 'CU(PPM)', 'ZN(PPM)', 'GA(PPM)', 'GE(PPM)', 'AS(PPM)', 'SE(PPM)', 'BR(PPM)', 'RB(PPM)', 'SR(PPM)', 'Y(PPM)', 'ZR(PPM)', 'NB(PPM)', 'MO(PPM)', 'RU(PPM)', 'RH(PPM)', 'PD(PPM)', 'AG(PPM)', 'CD(PPM)', 'IN(PPM)', 'SN(PPM)', 'SB(PPM)', 'TE(PPM)', 'I(PPM)', 'CS(PPM)', 'BA(PPM)', 'LA(PPM)', 'CE(PPM)', 'PR(PPM)', 'ND(PPM)', 'SM(PPM)', 'EU(PPM)', 'GD(PPM)', 'TB(PPM)', 'DY(PPM)', 'HO(PPM)', 'ER(PPM)', 'TM(PPM)', 'YB(PPM)', 'LU(PPM)', 'HF(PPM)', 'TA(PPM)', 'W(PPM)', 'RE(PPM)', 'OS(PPM)', 'IR(PPM)', 'PT(PPM)', 'AU(PPM)', 'HG(PPM)', 'TL(PPM)', 'PB(PPM)', 'BI(PPM)', 'TH(PPM)', 'U(PPM)', 'ND143_ND144', 'ND143_ND144_INI', 'EPSILON_ND', 'SR87_SR86', 'SR87_SR86_INI', 'PB206_PB204', 'PB206_PB204_INI', 'PB207_PB204', 'PB207_PB204_INI', 'PB208_PB204', 'PB208_PB204_INI', 'OS184_OS188', 'OS186_OS188', 'OS187_OS186', 'OS187_OS188', 'RE187_OS186', 'RE187_OS188', 'HF176_HF177', 'HE3_HE4', 'HE3_HE4(R/R(A))', 'HE4_HE3', 'HE4_HE3(R/R(A))', 'K40_AR40', 'AR40_K40', 'UNIQUE_ID']

,CITATIONS,TECTONIC SETTING,LOCATION,LOCATION COMMENT,LATITUDE MIN,LATITUDE MAX,LONGITUDE MIN,LONGITUDE MAX,LAND OR SEA,ELEVATION MIN,...,RE187_OS186,RE187_OS188,HF176_HF177,HE3_HE4,HE3_HE4(R/R(A)),HE4_HE3,HE4_HE3(R/R(A)),K40_AR40,AR40_K40,UNIQUE_ID
0,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / KISU / KISU / INDIAN O...,NaN,-8.38,-8.38,124.41,124.41,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,3.57,NaN,NaN,NaN,NaN,104872
1,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / ROMANG / PACIFIC OCEAN,NaN,-7.55,-7.55,127.42,127.42,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,0.99,NaN,NaN,NaN,NaN,104873
2,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / BANDA / PACIFIC OCEAN,NaN,-4.52,-4.52,129.87,129.87,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,3.01,NaN,NaN,NaN,NaN,104874
3,[3910],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / TERNATE / TERNATE / PA...,NaN,0.80,0.80,127.33,127.33,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11648-T7
4,[5178],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / TREWEG / PACIFIC OCEAN,NaN,-8.00,-8.00,124.00,124.00,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-A-4
466,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-A-5
467,[3147],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AM104A1
468,[3140][2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AS-2
469,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AS-9

# <font color = brown> Using .iloc (-> integer location) </font>

In [12]:
# General Syntax:  iloc[row_position, column_position]


# just '.tolist()' everything to obtain the desired values only.

# Select a single dataset/row by its index
df.iloc[5]

# Select a sequence of datasets/row by their indices
df.iloc[4:9]   

# Select a single series by its index
df.iloc[:, 5]   

# Select multiple datasets/rows by their index
df.iloc[[4, 8]]

# Select a sequence of datasets/rows by their index
df.iloc[4:8]
df.iloc[4:]
df.iloc[:8]

# Select only values from one sereies, but of only specific rows by their index
df.iloc[[4, 8], 4]

# Select values from multiple datasets/rows and multiple series by their index
df.iloc[[4, 8], [4, 6]]

# Select values from multiple series and a sequence of datasets/rows by their index
df.iloc[4:8, [4, 6]]

# Select values from a sequence of series and a sequence of datasets/rows by their index
df.iloc[4:8, 4:7]

# Select a single value using its index
df.iloc[120, 100]

3.0

# <font color = brown> Using .loc (-> location) </font>

In [11]:
# General Syntax:  loc[row_label, column_label]


# Single value using index and location
df.loc[3, 'MGO(WT%)']

# The first part only selects datasets indexed 3 and 5, the latter selects the desired series
df.loc[[3, 5], 'MGO(WT%)']

# The first part only selects datasets indexed 3 and 5, the latter selects the desired series
df.loc[[3, 5], ['MGO(WT%)', 'SIO2(WT%)']]

# The first part selects a sequence of datasets, the latter selects the desired series
df.loc[3:5, ['MGO(WT%)', 'SIO2(WT%)']]

   MGO(WT%)  SIO2(WT%)
3      4.54      53.72
4      3.37      55.66
5      3.50      56.24

# <font color = brown> Making a series indices to use it in loc </font>

In [6]:
df['ROCK TYPE'].drop_duplicates()

0         VOLCANIC ROCK
47        PLUTONIC ROCK
50     METAMORPHIC ROCK
358     MANTLE XENOLITH
Name: ROCK TYPE, dtype: object

In [7]:
df.set_index('ROCK TYPE', inplace = True)   # this will move this index series to the left

df

,CITATIONS,TECTONIC SETTING,LOCATION,LOCATION COMMENT,LATITUDE MIN,LATITUDE MAX,LONGITUDE MIN,LONGITUDE MAX,LAND OR SEA,ELEVATION MIN,...,RE187_OS186,RE187_OS188,HF176_HF177,HE3_HE4,HE3_HE4(R/R(A)),HE4_HE3,HE4_HE3(R/R(A)),K40_AR40,AR40_K40,UNIQUE_ID
ROCK TYPE,,,,,,,,,,,,,,,,,,,,,
VOLCANIC ROCK,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / KISU / KISU / INDIAN O...,NaN,-8.38,-8.38,124.41,124.41,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,3.57,NaN,NaN,NaN,NaN,104872
VOLCANIC ROCK,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / ROMANG / PACIFIC OCEAN,NaN,-7.55,-7.55,127.42,127.42,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,0.99,NaN,NaN,NaN,NaN,104873
VOLCANIC ROCK,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / BANDA / PACIFIC OCEAN,NaN,-4.52,-4.52,129.87,129.87,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,3.01,NaN,NaN,NaN,NaN,104874
VOLCANIC ROCK,[3910],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / TERNATE / TERNATE / PA...,NaN,0.80,0.80,127.33,127.33,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11648-T7
VOLCANIC ROCK,[5178],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / TREWEG / PACIFIC OCEAN,NaN,-8.00,-8.00,124.00,124.00,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VOLCANIC ROCK,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-A-4
VOLCANIC ROCK,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-A-5
VOLCANIC ROCK,[3147],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AM104A1
VOLCANIC ROCK,[3140][2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AS-2
VOLCANIC ROCK,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AS-9

In [8]:
# Select all datasets with a specific characteristic in the index series

df.loc["MANTLE XENOLITH"]

df.loc["MANTLE XENOLITH", ['MGO(WT%)']]

df.loc[["MANTLE XENOLITH"], ['MGO(WT%)', 'SIO2(WT%)']]

                 MGO(WT%)  SIO2(WT%)
ROCK TYPE
MANTLE XENOLITH     45.70      45.01
MANTLE XENOLITH     43.84      45.36
MANTLE XENOLITH     41.24      44.15
MANTLE XENOLITH     41.91      43.84
MANTLE XENOLITH     39.94      44.49
MANTLE XENOLITH     40.00      44.74
MANTLE XENOLITH     39.23      43.74
MANTLE XENOLITH     39.27      44.32
MANTLE XENOLITH     36.93      45.63
MANTLE XENOLITH     35.28      41.90
MANTLE XENOLITH     36.55      43.21

In [9]:
df.reset_index(inplace = True)

df

,ROCK TYPE,CITATIONS,TECTONIC SETTING,LOCATION,LOCATION COMMENT,LATITUDE MIN,LATITUDE MAX,LONGITUDE MIN,LONGITUDE MAX,LAND OR SEA,...,RE187_OS186,RE187_OS188,HF176_HF177,HE3_HE4,HE3_HE4(R/R(A)),HE4_HE3,HE4_HE3(R/R(A)),K40_AR40,AR40_K40,UNIQUE_ID
0,VOLCANIC ROCK,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / KISU / KISU / INDIAN O...,NaN,-8.38,-8.38,124.41,124.41,SUBAERIAL,...,NaN,NaN,NaN,NaN,3.57,NaN,NaN,NaN,NaN,104872
1,VOLCANIC ROCK,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / ROMANG / PACIFIC OCEAN,NaN,-7.55,-7.55,127.42,127.42,SUBAERIAL,...,NaN,NaN,NaN,NaN,0.99,NaN,NaN,NaN,NaN,104873
2,VOLCANIC ROCK,[3085],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / BANDA / PACIFIC OCEAN,NaN,-4.52,-4.52,129.87,129.87,SUBAERIAL,...,NaN,NaN,NaN,NaN,3.01,NaN,NaN,NaN,NaN,104874
3,VOLCANIC ROCK,[3910],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / TERNATE / TERNATE / PA...,NaN,0.80,0.80,127.33,127.33,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11648-T7
4,VOLCANIC ROCK,[5178],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / TREWEG / PACIFIC OCEAN,NaN,-8.00,-8.00,124.00,124.00,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120443
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,VOLCANIC ROCK,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-A-4
466,VOLCANIC ROCK,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-A-5
467,VOLCANIC ROCK,[3147],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AM104A1
468,VOLCANIC ROCK,[3140][2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AS-2
469,VOLCANIC ROCK,[2708],CONVERGENT MARGIN,BANDA ARC / BANDA ARC / AMBON / BANDA SEA / PA...,NaN,-3.61,-3.61,128.11,128.11,SUBAERIAL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8829-AS-9